<div class="row">
    <div class="col-sm-2 text-center">
    </div>
    <div class="col-sm-10 text-center">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1><%= @employee.name %></h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2 text-center">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Employee
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <% @employees_list.each do |e| %>
                            <li><%= link_to e.name, home_path(e.id) %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <%= link_to 'New Employee', addemployee_path, class: 'btn btn-default' %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <%= link_to 'Upload Data', uploaddata_path, class: 'btn btn-default' %>
            </div>
        </div>
    </div>
    <div class="col-sm-10 text-center">
        <div class="row">
            <div class="col-sm-12">
                <div id="map"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="#">Driving Stats</a></li>
                    <li role="presentation"><a href="#">Driving Incidents</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    function initMap() {
        var location1 = {lat:30.5879615, lng: -96.3344641};
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
            center: {lat: 30.619024, lng: -96.338804},
            zoom: 11
        });

        var marker = new google.maps.Marker({
            position: location1,
            map: map
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
